grandalf
langchain                                            
langchain-community                                            
langchain-core                                            
langchain-openai    
langchain_postgres                                       
langchain-text-splitters                                          
langgraph                                            
langgraph-checkpoint                                            
langgraph-checkpoint-postgres                                           
langgraph-checkpoint-sqlite                                            
langgraph-sdk                                            
langsmith                                           
markdown-it-py                                            
openai                                        
pydantic                                           
pydantic-settings                                            
pydantic_core                                
requests                                      
requests-oauthlib                                         
urllib3                                           
uvicorn